# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
.env

# Distribution / Packaging
dist/
*.egg-info/

# Testing / Type Checking / Linting
.pytest_cache/
.mypy_cache/
.ruff_cache/

# JetBrains IDEs (PyCharm, IntelliJ IDEA)
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/
